/* Paleta de colores.
Blue Sapphire: #05668D
Steel Blue: #427AA1
Alice Blue: #EBF2FA
Maximum Green: #679436
Acid Green: #A5BE00
*/

/* iMPORTAMOS  */
@import url(index.css);
@import url(header.css);
@import url(footer.css);
@import url(carrito.css);


:root {
  --azul_zafiro: #05668d;
  --azul_acero: #427aa1;
  --azul_clarito: #ebf2fa;
  --verde: #679436;
  --verde_acido: #a5be00;
  --verde2: #39b54a;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebf2fa;
}

form {
  margin: auto;
  padding: 10px;
  margin-top: 30px;
}

h1 {
  color: var(--azul_zafiro);
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  margin: auto !important;
}

h2 {
  margin-top: 25px;
  margin-left: 25px;
}

h3 {
  text-align: left;
  margin-left: 25px;
}

.form-input-edit{
  width: 40%;
  text-align: center;
}

.boton-editar{
  
  margin: auto;
  margin-top: 5%;
}

.boton-eliminar {
  border: 1px solid black;
  margin: auto;
  margin-top: -3%;
  background-color: #23677e;
  color: #ebf2fa;
  width: 220px;
}

p {
  text-align: justify;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.input-registro {
  height: 40px;
  padding: 10px;
  margin: 10px;
  size: 12px;
  width: 70%;
  border: 0;
  background-color: transparent;
  border-bottom: 2px #427aa1 solid;
  color: black;
  outline: none;
}

/* Marcas */

.marcas {
  width: 500px;
  margin-left: 250px;
  margin-top: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
  justify-content: center;
  text-align: center;
}

/* Login-Register */
.form-seguridad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.contenedor-seguridad {
  width: 1200px;
}


.contenedor-botones {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.boton-seguridad {
  font-size: 14px;
  width: 180px;
  /* display: flex; */
  justify-content: center;
  padding: 15px;
  margin: 20px;

}

.btn-success {
  background-color: #a5be00;
}


.links-seguridad {

  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px;
  justify-content: center;
}

/* Promociones */

.promo-pedidos {
  width: 400px;
  margin-left: 250px;
  margin-top: 25px;
  border-radius: 10px;
}

/* FORMULARIO ADMINISTRADOR */

/* form {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 5px;
} */

/* form label {
  text-align: center;
  font-size: 20px;
  margin: 0 0 10px;
  border-radius: 5px;
} */

/* .input {
  font-size: 80%;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  border: none;
} */

.agregar-producto {
  width: 20%;
  padding: 15px 0px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: #05668d;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.agregar-producto:hover {
  background-color: lightskyblue;
}

.borrar {
  width: 20%;
  padding: 15px 0px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: #679436;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
  border: 1px solid;
}

/* button:hover {
  background-color: #427aa1 !important;
  color: white;
} */

.borrar:hover {
  background: #a5be00;
}

.boton {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px;
}

.carga-descripcion {
  height: 65px;
  width: 40%;
}

.select-img {
  text-align: center;
  justify-content: center;
}
/* USERS*/

.user-container{
  border: 1px solid orange;
  border-radius: 5px;
  width: 20%;
  padding: 2%;
  margin-left: 3%;
  margin-bottom: 3%;
  background-color: var(--azul_zafiro);
  font-weight: bold;
  color: orange;
  
}

/* SUCURSALES */
.consulta {
  height: 50px;
  width: 50%;
  background-color: #679436;
  color: white;
}

.consulta-cliente {
  height: 90px;
  width: 90%;
}

.sucursales {
  text-align: center;
}
.comentario{
  margin-left: 30px;
}

.staff{
  text-align: center;
}

.empresa{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  font-size: 150%;
  font-style: italic;
}

.footer-pago{
  margin-left: 5%;
}

/* PRODUCTOS */
.products-wrapper {
 /*  margin-top: 30px; */
  /* margin-bottom: 30px; */
}

.products-title {
  font-size: 2.4em;
  font-weight: 400;
  color: var(--gray);
}

.product-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
}

.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_data h2 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: #39b54a;
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: #05668d;
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 40px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px #39b54a;
}

.btn-inactivar-grid
{
  background-color:transparent; 
  border: 0; 
  display: inline; 
  margin: 0; 
  padding: 0; 
  color: darkred !important;
  font-size: 18px;
  
}

.btn-activar-grid
{
  background-color:transparent; 
  border: 0; 
  display: inline; 
  margin: 0; 
  padding: 0; 
  color: darkgreen !important;
  font-size: 18px;
}


.btn-edit-grid
{
  color:darkblue; 
  font-size: 18px ;
}

.product-image{
margin: auto;
}

::placeholder{
  text-align: center;
}

.box-imagen{
  width: 100%;
  border-radius: 100%;
}

.box-usuarios{
  margin-top: 5%;
  display: flex;
}

.user-font{
  color: #ebf2fa;
  font-size: 100%;
  
}

@media (min-width: 425px) {}


@media (min-width: 768px) {}


@media (min-width: 768px) {
  .contenedor-seguridad {
    width: 800px;
  }
}