<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->

<%- include('./partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('./partials/header') %>

            <!-------------------- MAIN --------------------->


            <main >
                <div class="container" >
                    <h1> Administrar</h1>
                   
                    <a href="/products/productAdmin"> <h3>Productos <i class="fa-solid fa-file-circle-plus iconito"></i></h3> </a>
                  
                </div>
            </main>

            <!-- FOOTER -->
            <%- include ('./partials/footer.ejs') %>
    </body>

</html>