<!DOCTYPE html>
<html lang="en">

<!-------------------- HEAD --------------------->
<%- include('./partials/head') %>

  <!-------------------- BODY --------------------->

  <body>
    <!-------------------- HEADER --------------------->
    <%- include('./partials/header') %>

      <!-------------------- MAIN --------------------->
      <main>
        <!-------------------- CONTENEDOR GRIS--------------------->
        <div class="container" class="text-align: center">
          <div class=" jumbotron" style="padding:70px ;">
            <h1>Costos de envio</h1>

          </div>

          <div class="container">
            <!-- ENCABEZADO -->
            <div class="page-header">
              <h1>Envio gratis desde $ 6.500.-</h1>

            </div>
            <!-- DESPLEGABLE CON LOS DIAS Y HORARIOS -->
            <div>

              <h2>Dias y horarios de entrega</h2>


              <div style=" padding: 20px;
            color: #333;
            font-weight: 500;">


                <!-- Capital Federal -->
                <div class="list-group">
                  <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Capital Federal</h4>
                    <p class="list-group-item-text">Lunes a viernes de 14 a 20 hs</p>
                  </a>
                </div>
                <br>
                <br>
                <!-- Gran Buenos Aires -->
                <div class="list-group">
                  <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Gran Buenos Aires</h4>
                    <p class="list-group-item-text">Lunes a viernes de 14 a 20 hs</p>
                  </a>
                </div>
                <br>
                <br>
                <!-- Resto del país-->
                <div class="list-group">
                  <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Resto del país</h4>
                    <p class="list-group-item-text">Lunes a viernes de 14 a 20 hs</p>
                  </a>
                </div>
                <br>

                <div class="alert alert-info">
                  <i class="fas fa-exclamation-circle"></i> La fecha de entrega puede variar a la programada en caso de
                  que el
                  pedido entre en un
                  estado de validación interna. No se realizan entregas los días feriados.
                </div>


</body>

          <%- include ('./partials/newsletter.ejs') %>


      </main>


      <!-------------------- FOOTER --------------------->
      <%- include ('./partials/footer.ejs') %>
  </body>

</html>