<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
    <!--------------------- HEADER LOGIN ----------------->

    <body>
        <%- include('./partials/header') %>
            <!-------------------- MAIN --------------------->
            <main>
                <h1>Costos de Envios</h1>
                
                <div class="promo">
                    <h2 style="color: green; font-size: 300%; text-align: center;">¡ENVIOS GRATIS HASTA QUE TERMINE EL CURSO!</h2>    
                </div>
            </main>

            <%- include ('./partials/footer.ejs') %>
    </body>

</html>