<!DOCTYPE html>
<html lang="en">

<!-------------------- HEAD --------------------->
<%- include('./partials/head') %>

    <!-------------------- BODY --------------------->

    <body>
        <!-------------------- HEADER --------------------->
        <%- include('./partials/header') %>

            <!-------------------- MAIN --------------------->
            <main>

                <div class="container" class="text-align: center">
                    <div class=" jumbotron" style="padding:70px ;">
                        <h1>Nuestra Empresa</h1>
                    </div>

                    <!-- ENCABEZADO -->
                    <div class="page-header">
                        <h1>Mundo Mascota DH</h1>

                    </div>

                    <div class="empresa">

                        <h5>Mundo Mascota DH es la primera y única cadena de tiendas del país especializada en productos
                            y servicios para mascotas. </h5>
                        <h5>Te damos una experiencia diferente de compra, ofreciendo productos y servicios de alta
                            calidad que cumplen con las necesidades de las mascotas y la satisfacción de sus dueños.
                        </h5>

                        <h5>En Mundo Mascota DH reconocemos a las mascotas como un miembro más de la familia, a las que
                            debemos cuidar, proteger, y brindar el mejor cuidado para que tengan una excelente calidad
                            de vida. Para ello ofrecemos la más amplia variedad en productos alimenticios, accesorios,
                            farmacia, servicios experimentados (veterinaria, peluquería), mascotas para adopción , y
                            mucho más!</h5>

                        <h5>Podés visitar cualquiera de nuestras 3 sucursales, las cuales cuentan con modernas y cómodas
                            instalaciones, o navegar por nuestro sitio, donde encontrarás el más amplio catálogo de
                            productos, promociones y servicios.</h5>

                        <h5>En Mundo Mascota DH, donde las mascotas están primero.</h5>
                        <br>
                        <br>
                        <br>
                    </div>
            </main>

            <!-------------------- FOOTER --------------------->
            <%- include ('./partials/footer.ejs') %>
    </body>

</html>