<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('./partials/header') %>

            <!--------------------- MAIN ----------------->
            <main class="main">
                
                <div class="panel">
                    <div class=" jumbotron" style="padding:20px ;">
                        <h1>Busca todo lo que tu mascota necesita, en un solo lugar...</h1>
                        <p>Venta minorista y mayorista de alimentos balanceados de las mejores marcas del país y al mejor
                            precio. También contamos con una amplia variedad de accesorios.</p>
                      </div>

                    <div class="">
                        <a href="#">
                            
                                <h2>Perr@s</h2>
                                <img src="/img/mascota-perro.jpg" class="img-circle" alt="categoria_perro" width="404"
                                    height="336">
                            
                        </a>
                        <a href="#">
                            
                                <h2>Gat@s</h2>
                                <img src="/img/mascota-gato.jpg" class="img-circle" alt="categoria_gato" width="404"
                                    height="336">
                            
                        </a>
                    </div>
                </div>

            </main>
            <!--------------------- FOOTER ----------------->
            <%- include ('./partials/footer.ejs') %>

    </body>
  </html>