<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
    <!--------------------- HEADER LOGIN ----------------->

    <body>
        <%- include('./partials/header') %>
            <!-------------------- MAIN --------------------->
            <main>
                
                <div class="container" class="text-align: center">
                    <div class=" jumbotron" style="padding:70px ;">
                        <h1>Medios de Pago</h1>
                    </div>

                    <!-- HOY ES EL DIA DEL DESCUENTO -->
                <div>
                    <h2>¡Hoy es viernes!</h2>

                </div>


                <!-- CARRUSEL CON LOS DIAS DE DESCUENTOS -->
                <div>
                    <h2>Descuentos de la semana</h2>
                </div>


                <!-- BANCOS Y TARJETAS -->
                <div>
                    <h2>Trjetas y bancos</h2>
                </div>
                <br>
                <br>
                <br>

                <!-- MEDIOS DE PAGOS -->
                <div class="footer-pago">
                        <article class="medios-de-pago">

                            <div>
                                <h4>Hasta 12 cuotas sin tarjeta</h4>
                            </div>

                            <div>
                                <h4 class="tc-texto" style="text-decoration: underline;">Tarjetas de crédito</h4>
                                <p> <i class="fas fa-university"></i> ¡Cuotas sin interés con bancos seleccionados! </p>
                                <p> <i class="fab fa-cc-visa"></i> Visa </p>
                                <p> <i class="fab fa-cc-mastercard"></i> MasterCard </p>
                                <p> <i class="fab fa-cc-amex"></i> American Expres </p>

                                <h4 class="texto-pago" class="tc-texto"> Hasta 6 cuotas sin interés con estos bancos
                                </h4>
                                <img src="/img/home/6-cuotas-TC.jpg" alt="6-cuotas-TC" class="foto-producto">


                                <h4> O hasta 12 cuotas con interés </h4>
                                <img src="/img/home/12-cuotasTC.jpg" alt="12-cuotasTC" class="foto-producto">

                            </div>

                            <div>
                                <h4 class="tc-texto" style="text-decoration: underline;">Tarjetas de débito</h4>
                                <p> <i class="fab fa-cc-visa"></i> Visa - Debito </p>
                                <p> <i class="fab fa-cc-mastercard"></i> MasterCard - Debito</p>
                            </div>

                            <div>
                                <h4 style="text-decoration: underline;">Efectivo</h4>
                                <p class="texto-pago">Dinero en tu cuenta de Mercado Pago

                                    Al finalizar tu compra, pagás con el dinero disponible en tu cuenta.</p>
                                <p>Podés ingresar dinero a Mercado
                                    Pago con tu tarjeta de débito, en efectivo o por transferencia bancaria.

                                    Acreditación instantánea.</p>

                            </div>

                        </article>
                    </div> 
                    
                    <%- include ('./partials/newsletter.ejs') %>
            </main>

            <%- include ('./partials/footer.ejs') %>
    </body>

</html>