<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Authorization</title>
</head>
<body style="background-color: maroon ; position: relative;">
    <p style="color:grey; font-size: xx-large; text-align: center; 
    width: 800px; height: 50px; position: absolute; top:50% ;left:50%; margin: -25px 0 0 -400px; "
    >NO TIENE AUTORIZACIÓN</p>
</body>
</html>