<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Authorization</title>
</head>

<body style="background-color:firebrick ; position: relative;">
    <p style="color:white; font-size: xx-large; text-align: center; 
    width: 800px; height: 50px; position: absolute; top:10% ;left:50%; margin: -25px 0 0 -400px; ">NO TIENE
        AUTORIZACIÓN</p>

    <div style="width: 800px; height: 50px; position: absolute; top:30% ;left:50%; margin: -25px 0 0 -400px; ">
        <div class="tenor-gif-embed" data-postid="18474472" data-share-method="host" data-aspect-ratio="1.77778"><a
                href="https://tenor.com/view/penguins-madagascar-what-are-you-gif-18474472">Penguins
                Madagascar GIF
        </div>
    </div>

    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>

</html>