<!DOCTYPE html>
<html lang="en">

<!-------------------- HEAD --------------------->
<%- include('./partials/head') %>
    
    <!-------------------- BODY --------------------->
    <body>
        <!-------------------- HEADER --------------------->
        <%- include('./partials/header') %>

            <!-------------------- MAIN --------------------->
            <main>
                <div class="container" class="text-align: center">
                    <div class=" jumbotron" style="padding:70px ;">
                        <h1>Preguntas frecuentes</h1>
                    </div>

                
                      <!--  -->
                      <div class="container">
                        <h2>Todas las preguntas que tengas te las respondemos...</h2>
                        <p><strong>Note:</strong> Las <strong>preguntas frecuentes</strong> son aquellas que con mas frecuencia tenemos dudas sobre el sitio. Es por eso que tenes este espacio para respondertelas, ademas abajo tenes sino para realizar tu duda puntial.</p>
                        <div class="panel-group" id="accordion">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="fa fa-chevron-down" ></i>   
                                  ¿Cómo compro en mundomascota_dh.com?</a>
                              </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                <p>
                                ¡Comprar en <strong> mundomascota_dh.com </strong> es fácil y rápido! 
                                <br>
                                Ingresá a sitio web, agregá los productos al carrito de compras, ingresá tus datos personales, pagá y listo! 
                                
                                Luego te entregaremos el pedido con la modalidad de entrega seleccionada.

                              </p>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="fa fa-chevron-down" ></i>
                                  ¿Cómo me registro?</a>
                              </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                              <div class="panel-body">
                                ¡Crearte una cuenta en nuestro sitio es muy sencillo! Para tu comodidad, contamos con diversas maneras de acceder de manera fácil y rápida. Regístrate haciendo clic en “Ingresar” y elegí una de las opciones para validar tu identidad:
                                <br>
                                <br>
                                - Recibir la clave de acceso rápido por mail.
                                <br>
                                - Ingresar con mail y contraseña.
                                
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fa fa-chevron-down" ></i>
                                  ¿Es seguro comprar en mundomascota_dh.com? ¿Mis datos personales están salvaguardados?</a>
                              </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>
                                Comprar en <strong> mundomascota_dh.com </strong> es muy seguro, gracias a que cuenta con los estándares de seguridad más rigurosos utilizados en el retail a nivel mundial. Contamos con el certificado digital Let’s Encrypt. Tus datos se mantendrán bajo estricta confidencialidad. <strong> mundomascota_dh.com </strong> usa un sistema de seguridad llamado SSL (Secure Socket Layer), que actualmente es el estándar usado por las compañías más importantes del mundo para realizar transacciones electrónicas seguras, lo que significa que toda tu información personal no podrá ser leída ni capturada por terceros mientras viaja por la red.
                                <br>
                                <br>
                                Cada usuario dispondrá en todo momento de los derechos de acceso a la información, rectificación y supresión de sus datos personales conforme a la Ley Nº 25.326 sobre protección de datos de carácter personal. Tus datos personales se toman sólo con los fines de cumplir con el giro comercial de la empresa, validar las órdenes de compra, mejorar la labor de información y comercialización de los productos y servicios prestados por <strong> mundomascota_dh.com </strong>, realizar acciones de marketing y publicidad. El usuario tiene el derecho gratuito de ejercer el acceso, rectificar y suprimir los datos. La Dirección Nacional de Protección de Datos Personales, órgano de control de la Ley Nro. 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan en relación al incumplimiento de las normas sobre protección de datos personales.
                              </p>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><i class="fa fa-chevron-down" ></i>
                                  ¿Cómo se aplican las promociones y descuentos bancarios?</a>
                              </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                              <div class="panel-body">Los descuentos bancarios se aplican a modo de reintegro. Los mismos podrás verlos reflejados en el resumen de cuenta, o en los movimientos bancarios de la tarjeta utilizada en la compra. Para conocer mas sobre las promociones exclusivas ingresa a <strong>Medios de Pago</strong></div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><i class="fa fa-chevron-down" ></i>
                                  Surtido de precios y promociones</a>
                              </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                              <div class="panel-body">En <strong> mundomascota_dh.com </strong>, el precios de lista de los productos es el mismo que en sucursales, pero pueden existir promociones y descuentos exclusivos para que nuestros clientes tengan la mejor experiencia de compra on-line, y mayores beneficios.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><i class="fa fa-chevron-down" ></i>
                                  ¿Cuáles son los medios de pago?</a>
                              </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                              <div class="panel-body">Operamos con una gran cantidad de tarjetas de crédito y débito a través de pago on-line. Solo podrán confirmar tu pedido con un solo medio de pago, y una vez recibida la confirmación no se podrá modificar.
                                <strong>Ver medios de pago y financiación</strong>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><i class="fa fa-chevron-down" ></i>
                                  ¿Cuáles son las modalidades y horarios de entrega?</a>
                              </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>
                                  <strong> 1. Retiro en tienda: </strong> Lunes a Sábado de 10:00 a 19:00 horas (exceptuando feriados). Sólo en sucursales seleccionadas. Ver sucursales
                                <br>
                                <strong> 2. Envío a domicilio: </strong> Lunes a Viernes de 09:00 a 20:00 horas y Sábados de 08:00 a 13:00 horas (exceptuando feriados). Todo el país exceptuando Tierra del fuego y Catamarca. 
                                <br>
                                <strong> 3. Retiro en punto Pick It: </strong> el horario de retiro dependerá del punto de entrega y será informado por mail.
                                <br>
                                <br>

                              <strong> ¿Qué tengo que saber? </strong>
                              <strong> -Plazo de retiro: </strong> si seleccionaste retiro en tienda, tené presente que el pedido permanecerá 10 días en la sucursal y luego será devuelto a nuestro centro de distribución.
                              <br>
                              <strong> -El tiempo estimado de entrega </strong> y el costo del envío se informan antes de finalizar la compra al momento de seleccionar la modalidad de entrega y en los mails posteriores. Los costos de envío se abonan al momento de generar la compra, con el mismo medio de pago.
                              <br>
                              <strong> -El cronograma habitual</strong> puede verse afectado en eventos como Hot Sale/Cyber Monday o eventualmente algún inconveniente, como paros de transporte o gremial. En estos casos, haremos todo lo posible para volver a nuestro cronograma habitual a la brevedad.
                            </p>  
                            </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"><i class="fa fa-chevron-down" ></i>
                                  Seguimiento de pedido</a>
                              </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>
                                El pedido pasará por los siguientes estados según la modalidad de entrega elegida:
                                <br>
                                <br>
                                  - Retiro en sucursal o punto Pick It
                                  <br>
                                  1. Confirmación de compra
                                  <br>
                                  2. Validación
                                  <br>
                                  3. Facturación
                                  <br>
                                  4. Pedido listo en sucursal
                                  <br>
                                  5. Entrega
                                  <br>
                                  <br>

                                  - Envío a domicilio
                                  <br>
                                  1. Confirmación de compra
                                  <br>
                                  2. Validación
                                  <br>
                                  3. Facturación
                                  <br>
                                  4. Entrega
                                  <br>
                                  <br>

                                  Te iremos informando por mail el estado de tu pedido. Si elegiste retiro en sucursal, sólo podrás retirar el pedido luego de haber recibido el mail indicando que el pedido ya está listo en la sucursal.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse9"><i class="fa fa-chevron-down" ></i>
                                  ¿Cómo obtengo mi factura?</a>
                              </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>
                                Te llegará un mail desde el siguiente dominio: <strong> no-responder@mundomascota_dh.com.  </strong> 
                                <br>
                                En el mismo encontrarás un archivo adjunto con tu factura electrónica emitida de acuerdo con la Res. General N° 2975 de AFIP, sus modificatorias y complementarias. 
                                <br>
                                La dirección de facturación, puede ser igual o distinta a la de envío, segun tu necesidad de tipo de factura A o B.
                                <br>
                              </p>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse10"><i class="fa fa-chevron-down" ></i>
                                  ¿Qué sucede si no hay nadie al momento de la entrega de mi pedido?</a>
                              </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>
                                Si no hay nadie en el domicilio que nos indicaste, el correo realizará una nueva visita dentro de las próximas 72 hs, y recibirás un mail del operador logístico, indicando la reprogramación de la segunda visita.
                                <br>
                                Para mayor información de la segunda entrega, deberás contactarte a nuestro Centro de Atención al Cliente al, <strong> 0810 123 4567 </strong>de lunes a viernes de 09:00 a 20:00 horas, y sábados de 09:00 a 15:00 horas, o a través de nuestro formulario de contacto.
                                <br>
                                Recordá que es muy importante, que completes y revises cuidadosamente la información relacionada con la entrega, para poder entregarte el pedido correctamente.
                                <br>
                              </p>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse11"><i class="fa fa-chevron-down" ></i>
                                  Quiero autorizar a un tercero para recibir/retirar mi pedido</a>
                              </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse">
                              <div class="panel-body">
                              <p>Para garantizar la total seguridad de datos y de compra, el autorizado podrá acercarse con DNI, Tarjeta de pago (Copia, original o imagen) del titular y N° de pedido al punto de retiro.
                                <br>
                                  En caso de no contar con la documentación respaldatoria, el/la titular de la tarjeta que abonó la compra, deberá comunicarse a nuestro <strong>Centro de Atención al Cliente </strong> al <strong> 0810 123 4567 </strong> opción 2 de lunes a viernes de 09:00 a 20:00 horas, y sábados de 09:00 a 15:00 horas
                                  <br>
                                  <br>
                                  <strong>Por tu seguridad, no podemos entregarle tu pedido a un tercero sin respaldo del titular.</strong>
                                  <br>
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12"><i class="fa fa-chevron-down" ></i>
                                  Quiero cambiar o devolver mi pedido</a>
                              </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>
                                Si compraste con retiro en tienda o envío a domicilio, acercate a cualquiera de nuestras sucursales con el producto en su caja, el N° de pedido y la factura digital que recibiste en tu mail.
                                <br>
                                Si compraste con otra modalidad de entrega, o no contás con una sucursal cerca a tu domicilio, comunicate con nuestro <strong>Centro de Atención al Cliente </strong> al <strong> 0810 123 4567 </strong>  opción 2 o a través de nuestro formulario de contacto y te indicaremos cómo continuar la gestión.
                                <br>
                                <br>
                                <br>
                                <strong> Condiciones: </strong> Los productos dispondrán de un plazo máximo de treinta (30) días para efectuar el cambio, sin devolución de dinero.
                                <br>
                                Este plazo comenzará a computarse desde el momento de la entrega al destinatario final.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse13"><i class="fa fa-chevron-down" ></i>
                                  No me aplicó bien un descuento</a>
                              </h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse">
                              <div class="panel-body">
                                Si tuviste algún inconveniente en tu carrito de compras con la aplicación de un descuentos y/o una promoción, podes comunicarte con nuestro <strong> Centro de Atención al Cliente </strong> al <strong> 0810 123 4567 </strong> opción 2, de lunes a viernes de 09:00 a 20:00 horas y sábados de 09:00 a 15:00 horas, o a través de nuestro Formulario de Contacto para poder resolver la gestión.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse14"><i class="fa fa-chevron-down" ></i>
                                  ¿Por qué recibí una Nota de Crédito?</a>
                              </h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>Te enviamos una nota de crédito porque algún producto no estaba disponibles al momento de preparar tu pedido, ya sea por daño en el armado o traslado.
                                <br>
                                En el mail de la nota de crédito podrás ver:
                                <br>
                                -Cual es el productos que no pudimos enviarte.
                                <br>
                                -Cual es el importe que se reintegrará al medio de pago con el que realizaste la compra.
                                <br>
                                -Los reintegros podrás visualizarlos, tanto en el resumen de cuenta de la tarjeta o movimientos bancarios.
                              </p>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse15"><i class="fa fa-chevron-down" ></i>
                                  Quiero hablar con un representante de mundomascota_dh.com</a>
                              </h4>
                            </div>
                            <div id="collapse15" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>
                                - Sucursales Podras hablar con cualquiera de nuestros asistentes, para resolver tus dudas.
                                  <br>
                                  <br>
                                - Centro de Atención al Cliente: 0800 666 4321 de Lunes a Viernes de 08:00 a 20:00 horas y Sábados de 09:00 a 15:00 horas.
                                <br>
                                <br>
                                -A través de nuestro Formulario de contacto.
                                <br>
                                <br>
                                <strong>IMPORTANTE:</strong>
                                Los medios de comunicación verificados por la compañía son los informados, cualquier comunicado, sorteo o promoción expresado por fuera de los mismos, no tiene validez en ninguna de nuestros canales oficiales.
                                <br>
                                mundomascota_dh.com no se contacta por WhatsApp o Telegram, ni solicita datos personales o bancarios por mensaje de texto.
                                <br>
                              </p>
                              </div>
                            </div>
                          </div>

                        </div> 
                      </div>
        <!-- TEXTO, REALIZA TUS CONSULTAS -->
<h2>Formulario de contacto</h2>

<p class="comentario">
    Completá el siguiente formulario con tus datos y tu consulta o sugerencia para que podamos
    ponernos
    en contacto con vos. Te responderemos lo más pronto posible.</P>

 <!-- FORMULARIO PARA REALIZAR TUS CONSULTAS -->    

<form action="/action_page.php">

    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Nombre y Apellido:</label>
        <input type="email" class="form-control" id="email"
            placeholder="Ingresa tu nombre y apellido" name="email">
    </div>
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Ingresar Email"
            name="email">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Ingresar Contraseña"
            name="pswd">
    </div>

    <div class="form-check mb-3">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Recordarme
        </label>
    </div> <br>

    <div>
        <label for="comment">Comentarios:</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div><br>

    <!-- <div>
        <button type="submit" class="btn btn-primary" style="background-color: #679436;"> <i
                class="far fa-check-circle"></i>Enviar</button>
    </div> -->

    <!-- Botones ENVIAR -->
    <div class="boton">
        <button type="submit" class="consulta" class="btn btn-primary"> <i class="far fa-check-circle"></i>
            Enviar</button>

    </div>                  
</div>



</form>


</main>

<!-------------------- FOOTER --------------------->
<%- include ('./partials/footer.ejs') %>
</body>

</html>