<!DOCTYPE html>
<html lang="en">

<!-------------------- HEAD --------------------->
<%- include('./partials/head') %>
    
    <!-------------------- BODY --------------------->
    <body>
        <!-------------------- HEADER --------------------->
        <%- include('./partials/header') %>

            <!-------------------- MAIN --------------------->
            <main>
                <div class="container" class="text-align: center">
                    <div class=" jumbotron" style="padding:70px ;">
                        <h1>Preguntas frecuentes</h1>
                    </div>

                
                      <!--  -->
                      <div class="container">
                        <h2>Todas las preguntas que tengas te las respondemos...</h2>
                        <p><strong>Note:</strong> Las <strong>preguntas frecuentes</strong> son aquellas que con mas frecuencia tenemos dudas sobre el sitio. Es por eso que tenes este espacio para respondertelas, ademas abajo tenes sino para realizar tu duda puntial.</p>
                        <div class="panel-group" id="accordion">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">¿Cómo compro en mundomascota_dh.com?</a>
                              </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">¿Cómo me registro?</a>
                              </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">¿Es seguro comprar en mundomascota_dh.com? ¿Mis datos personales están salvaguardados?</a>
                              </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">¿Cómo se aplican las promociones y descuentos bancarios?</a>
                              </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Surtido de precios y promociones</a>
                              </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">¿Cuáles son los medios de pago?</a>
                              </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">¿Cuáles son las modalidades y horarios de entrega?</a>
                              </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Seguimiento de pedido</a>
                              </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">¿Cómo obtengo mi factura?</a>
                              </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">¿Qué sucede si no hay nadie al momento de la entrega de mi pedido?</a>
                              </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Quiero autorizar a un tercero para recibir/retirar mi pedido</a>
                              </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Quiero cambiar o devolver mi pedido</a>
                              </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">No me aplicó bien un descuento</a>
                              </h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">¿Por qué recibí una Nota de Crédito?</a>
                              </h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">Quiero hablar con un representante de mundomascota_dh.com</a>
                              </h4>
                            </div>
                            <div id="collapse15" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>

                        </div> 
                      </div>
        <!-- TEXTO, REALIZA TUS CONSULTAS -->
<h2>Realiza tu consulta puntual aqui:</h2>

<p class="comentario">
    Completá el siguiente formulario con tus datos y tu consulta o sugerencia para que podamos
    ponernos
    en contacto con vos. Te responderemos lo más pronto posible.</P>

 <!-- FORMULARIO PARA REALIZAR TUS CONSULTAS -->    

<form action="/action_page.php">

    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Nombre y Apellido:</label>
        <input type="email" class="form-control" id="email"
            placeholder="Ingresa tu nombre y apellido" name="email">
    </div>
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Ingresar Email"
            name="email">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Ingresar Contraseña"
            name="pswd">
    </div>

    <div class="form-check mb-3">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Recordarme
        </label>
    </div> <br>

    <div>
        <label for="comment">Comentarios:</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div><br>

    <!-- <div>
        <button type="submit" class="btn btn-primary" style="background-color: #679436;"> <i
                class="far fa-check-circle"></i>Enviar</button>
    </div> -->

    <!-- Botones ENVIAR -->
    <div class="boton">
        <button type="submit" class="consulta" class="btn btn-primary"> <i class="far fa-check-circle"></i>
            Enviar</button>

    </div>                  
</div>



</form>


</main>

<!-------------------- FOOTER --------------------->
<%- include ('./partials/footer.ejs') %>
</body>

</html>