<!DOCTYPE html>
<html lang="en">

<!-------------------- HEAD --------------------->
<%- include('./partials/head') %>
    
    <!-------------------- BODY --------------------->
    <body>
        <!-------------------- HEADER --------------------->
        <%- include('./partials/header') %>

            <!-------------------- MAIN --------------------->
            <main>
                <h1>Preguntas</h1>
                
                <div class="promo">
                    <h2 style="color: red; font-size: 300%; text-align: center;">PREGUNTAS FRECUENTES</h2>    
                </div>
            </main>

            <!-------------------- FOOTER --------------------->
            <%- include ('./partials/footer.ejs') %>
    </body>

</html>