<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->

<%- include('./partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('./partials/header') %>

            <!-------------------- MAIN --------------------->


            <main>
                <div class="container">
                    <h1> Alta Producto </h1>
                    <form action="/products" method="post">

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="nombre" type="text" class="form-control" name="nombre"
                                placeholder="Nombre del Producto">
                        </div>

                        <div class="input-group" style="width:100% ;">
                            <label for="comment">Descripcion del producto :</label>
                            <textarea class="form-control" rows="5" id="descripcion"></textarea>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="sel1">Seleccione categoria:</label>
                                    <select class="form-control" id="sel1">
                                        <option>Seleccione Categoria</option>
                                        <option>Perro</option>
                                        <option>Gato</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12  col-md-6">
                                <div class="form-group">
                                    <label for="sel1">Seleccione familia:</label>
                                    <select class="form-control" id="sel1">
                                        <option>Seleccione Familia</option>
                                        <option>Alimentos</option>
                                        <option>Juguetes</option>
                                        <option>Snack</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="nombre"> Foto del producto: </label>
                                    <input type="file" name="foto" id="foto" class="input">
                                </div>
                                <div class="col-md-6">
                                    <img src="/img/products/Alimento-Perros1.jpg" alt="" style="width:500px; height:600px ;">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa-solid fa-sack-dollar"></i></span>
                                    <input step="0.01" min="1" type="number" id="precio" class="form-control"
                                        name="precio" placeholder="Precio del Producto">
                                </div>

                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa-solid fa-percent"></i></span>
                                    <input step="0.01" min="0" id="descuento" type="number" class="form-control"
                                        name="descuento" placeholder="Descuento del Producto">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="selActivo">Producto activo:</label>
                            <select id="selectActivo" class="form-control" id="selActivo">
                                <option>Seleccione si el producto esta activo SI/NO</option>
                                <option>SI</option>
                                <option>NO</option>

                            </select>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-md-4">
                                <button id="btnGuardar" type="submit" class="btn btn-success btn-lg btn-block"><i
                                        class="far fa-check-circle"></i> Guardar</button>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <button id="btnLimpiar" type="reset" class="btn btn-warning btn-lg btn-block">Limpiar</button>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <button  id="btnCancelar" type="button" class="btn btn-danger btn-lg btn-block">Cancelar</button>
                            </div>
                        </div>


                    </form>
                </div>
            </main>

            <!-- FOOTER -->
            <%- include ('./partials/footer.ejs') %>
    </body>

</html>