<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->
<%- include('./partials/head') %>
    
    <!--------------------- BODY ----------------->
    <body>
        <%- include('./partials/header') %>
            <!-------------------- MAIN --------------------->
            <main>
                
                <div class="container" class="text-align: center">
                    <div class=" jumbotron" style="padding:70px ;">
                        <h1>Staff Mundo Mascota - DH</h1>
                    </div>
                <div class="staff">
                    <ul>
                        <li><a href="https://github.com/fer-checa" target="_blank" > Fernanda Checa</a></li>
                        <li><a href="https://github.com/mamenendez" target="_blank" > Matias Menendez</a></li>
                        <li><a href="https://github.com/MartinEstevez" target="_blank" > Martin Estevez</a></li>
                        <li><a href="https://github.com/adolfowirth" target="_blank" > Adolfo Wirth</a></li>
                    </ul>
                </div> 
            </main>
            <!-------------------- FOOTER --------------------->
            <%- include ('./partials/footer.ejs') %>
    </body>

</html>