<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->
<%- include('./partials/head') %>

    <!--------------------- BODY ----------------->

    <body>
        <%- include('./partials/header') %>
            <!-------------------- MAIN --------------------->
            <main>

                <div class="container" class="text-align: center">
                    <div class=" jumbotron" style="padding:70px ;">
                        <h1>Staff</h1>
                    </div>


                    <div class="container">
                        <h2>Mundo Mascotas DH</h2>
                        <p>El staff es el equipo de trabajo dueño y propietario de la pagina mundomascotas_DG.com. 
                                    Aqui encontraras una breve descripcion de sus desenpeños y trayectoria profesional.</p><br>

                        <!-- FERNANDA CHECA -->
                        <div class="media">
                            <div class="media-left">
                                <img src="/img/staff/fernanda-checa.jpg" alt="fernanda-checa" class="img-rounded" class="media-object"
                                    style="width:200px">

                            </div>
                            <div class="media-body">
                                <a href="https://github.com/fer-checa" target="_blank">
                                    <h4 class="media-heading">Fernanda Checa</h4>
                                </a>
                                <h5>Ing. en Sistemas - Programadora Web Full Stack</h5>
                                <h5>Directora de IT</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aliquid. Accusantium
                                    perferendis nam commodi, cumque illum in, voluptate saepe laudantium ducimus minus
                                    consectetur tempore aut voluptatum nesciunt earum cum ut!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore impedit
                                    pariatur necessitatibus provident labore error eveniet incidunt, sequi, doloribus,
                                    architecto dignissimos dicta nulla assumenda voluptatum laboriosam dolorum? Laborum,
                                    officiis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem mollitia aliquid eos
                                    cupiditate vero non? Eum veritatis temporibus, nulla natus corporis expedita dolore
                                    nobis vel, consequatur obcaecati, in aspernatur asperiores.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aliquid. Accusantium
                                    perferendis nam commodi, cumque illum in, voluptate saepe laudantium ducimus minus
                                    consectetur tempore aut voluptatum nesciunt earum cum ut!
                                </p>
                            </div>
                        </div>
                        <hr>

                        <!-- MATIAS MENENDEZ -->
                        <div class="media">
                            <div class="media-left">
                                <img src="/img/staff/matias-menendez.jpg" alt="matias-menendez" class="media-object" class="img-rounded"
                                    style="width:200px">
                            </div>
                            <div class="media-body">
                                <a href="https://github.com/mamenendez" target="_blank">
                                    <h4 class="media-heading">Matias Menendez</h4>
                                </a>
                                <h5>Analista de sistemas - Programador Web Full Stack</h5>
                                    <h5>Director de Infraestructura y Desarrollo</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aliquid. Accusantium
                                    perferendis nam commodi, cumque illum in, voluptate saepe laudantium ducimus minus
                                    consectetur tempore aut voluptatum nesciunt earum cum ut!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore impedit
                                    pariatur necessitatibus provident labore error eveniet incidunt, sequi, doloribus,
                                    architecto dignissimos dicta nulla assumenda voluptatum laboriosam dolorum? Laborum,
                                    officiis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem mollitia aliquid eos
                                    cupiditate vero non? Eum veritatis temporibus, nulla natus corporis expedita dolore
                                    nobis vel, consequatur obcaecati, in aspernatur asperiores.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aliquid. Accusantium
                                    perferendis nam commodi, cumque illum in, voluptate saepe laudantium ducimus minus
                                    consectetur tempore aut voluptatum nesciunt earum cum ut!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore impedit
                                    pariatur necessitatibus provident labore error eveniet incidunt, sequi, doloribus,
                                    architecto dignissimos dicta nulla assumenda voluptatum laboriosam dolorum? Laborum,
                                    officiis.

                                </p>
                            </div>
                        </div>
                        <hr>

                        <!-- ADOLFO WIRTH -->
                        <div class="media">
                            <div class="media-left">
                                <img src="/img/staff/adolfo-wirth.jpg" alt="adolfo-wirth" class="media-object" class="img-rounded"
                                    style="width:200px">
                            </div>
                            <div class="media-body">
                                <a href="https://github.com/adolfowirth" target="_blank">
                                    <h4 class="media-heading">Adolfo Wirth</h4>
                                </a>
                                <h5>Contador Publico - Programador Web Full Stack</h5>
                                <h5>Director de Administración y Finanzas</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aliquid. Accusantium
                                    perferendis nam commodi, cumque illum in, voluptate saepe laudantium ducimus minus
                                    consectetur tempore aut voluptatum nesciunt earum cum ut!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore impedit
                                    pariatur necessitatibus provident labore error eveniet incidunt, sequi, doloribus,
                                    architecto dignissimos dicta nulla assumenda voluptatum laboriosam dolorum? Laborum,
                                    officiis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem mollitia aliquid eos
                                    cupiditate vero non? Eum veritatis temporibus, nulla natus corporis expedita dolore
                                    nobis vel, consequatur obcaecati, in aspernatur asperiores.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aliquid. Accusantium
                                    perferendis nam commodi, cumque illum in, voluptate saepe laudantium ducimus minus
                                    consectetur tempore aut voluptatum nesciunt earum cum ut!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore impedit
                                    pariatur necessitatibus provident labore error eveniet incidunt, sequi, doloribus,
                                    architecto dignissimos dicta nulla assumenda voluptatum laboriosam dolorum? Laborum,
                                    officiis.

                                </p>
                            </div>
                        </div>
                        <hr>

                        <!-- MARTIN ESTEBEZ -->
                        <div class="media">
                            <div class="media-left">
                                <img src="/img/staff/martin-estebez.jpg" alt="martin-estebez" class="media-object" class="img-rounded"
                                    style="width:200px">
                            </div>
                            <div class="media-body">
                                <a href="https://github.com/MartinEstevez" target="_blank">
                                    <h4 class="media-heading">Martin Estevez</h4>
                                </a>
                                <h5>Community Manager - Programador Web Full Stack</h5>
                                <h5>Director de Merchandising y Marketing</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aliquid. Accusantium
                                    perferendis nam commodi, cumque illum in, voluptate saepe laudantium ducimus minus
                                    consectetur tempore aut voluptatum nesciunt earum cum ut!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore impedit
                                    pariatur necessitatibus provident labore error eveniet incidunt, sequi, doloribus,
                                    architecto dignissimos dicta nulla assumenda voluptatum laboriosam dolorum? Laborum,
                                    officiis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem mollitia aliquid eos
                                    cupiditate vero non? Eum veritatis temporibus, nulla natus corporis expedita dolore
                                    nobis vel, consequatur obcaecati, in aspernatur asperiores.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aliquid. Accusantium
                                    perferendis nam commodi, cumque illum in, voluptate saepe laudantium ducimus minus
                                    consectetur tempore aut voluptatum nesciunt earum cum ut!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore impedit
                                    pariatur necessitatibus provident labore error eveniet incidunt, sequi, doloribus,
                                    architecto dignissimos dicta nulla assumenda voluptatum laboriosam dolorum? Laborum,
                                    officiis.

                                </p>
                            </div>
                        </div>
                        <hr>


    </body>
    </main>
    <!-------------------- FOOTER --------------------->
    <%- include ('./partials/footer.ejs') %>
        </body>

</html>