<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
    <!--------------------- HEADER LOGIN ----------------->

    <body>
        <%- include('./partials/header') %>
            <!-------------------- MAIN --------------------->
            <main>
                <h1>Staff Mundo Mascota - DH</h1>
                <div class="staff">
                    <ul>
                        <li>Fernanda Checa</li>
                        <li>Matias Menendez</li>
                        <li>Martin Estevez</li>
                        <li>Adolfo Wirth</li>
                    </ul>
                </div> 
            </main>

            <%- include ('./partials/footer.ejs') %>
    </body>

</html>