<!DOCTYPE html>
<html lang="en">
<!--------------------- HEAD ----------------->
<%- include('./partials/head') %>

    <!--------------------- BODY ----------------->

    <body>

        <!--------------------- HEADER ----------------->
        <%- include('./partials/header') %>

            <!--------------------- MAIN ----------------->
            <main>
                <!-- SUCURSALES -->

                <div class="container" class="text-align: center">
                    <div class=" jumbotron" style="padding:70px ;">
                        <h1>Nuestras Sucursales</h1>
                    </div>
                    
                    <!-- Sucursal Buenos Aires -->
                    <section class="sucursales">

                        <h2>Buenos Aires</h2>

                        <p class="sucursales"> <i class="fa-solid fa-phone icono"></i> 0810 -123 -4567 </p>
                        <p class="sucursales"> <i class="fas fa-mobile-alt icono"></i> 91167852177</p>
                        <p class="sucursales"> <i class="fas fa-at icono"></i> info@mundomascota_dh.com.ar</p>
                        <p class="sucursales"> <i class="fas fa-home icono"></i> Av. San Martin 5000 - Cap Fed -
                            Argentina
                        </p>
                        <p class="sucursales"> <i class="fas fa-clock icono"></i> Lunes a Sabado de 9 a 21 hs</p>

                    </section>
                    <br>
                    <br>
                    <br>

                    <!-- Sucursal Tucuman -->
                    <section class="sucursales">

                        <h2>Tucuman</h2>

                        <p class="sucursales"> <i class="fa-solid fa-phone icono"></i> 0810 -123 -4567 </p>
                        <p class="sucursales"> <i class="fas fa-mobile-alt icono"></i> 91155729935</p>
                        <p class="sucursales"> <i class="fas fa-at icono"></i> info@mundomascota_dh.com.ar</p>
                        <p class="sucursales"> <i class="fas fa-home icono"></i> Av. Aconquija 600 - Tucuman - Argentina
                        </p>
                        <p class="sucursales"> <i class="fas fa-clock icono"></i> Lunes a Sabado de 9 a 21 hs</p>

                    </section>
                    <br>
                    <br>
                    <br>
                    <!-- Sucursal Mexico -->
                    <section class="sucursales">

                        <h2>Salta</h2>

                        <p class="sucursales"> <i class="fa-solid fa-phone icono"></i> 0810 -123 -4567 </p>
                        <p class="sucursales"> <i class="fas fa-mobile-alt icono"></i> 91123411408</p>
                        <p class="sucursales"> <i class="fas fa-at icono"></i> info@mundomascota_dh.com.ar</p>
                        <p class="sucursales"> <i class="fas fa-home icono"></i> Gral. Martin Güemes 474 - Salta - Argentina</p>
                        <p class="sucursales"> <i class="fas fa-clock icono"></i> Horarios: Lunes a Sabado de 9 a 21 hs
                        </p>

                    </section>

                    <div style="margin-bottom: 50px; margin-top:50px; text-align: center">
                        <img src="/img/home/mapa-sucursales.jpg" alt="mapa-sucursales" style="width:100%;">
                    </div>
                    
                    <%- include ('./partials/newsletter.ejs') %>
            </main>
            <!--------------------- FOOTER ----------------->
            <%- include ('./partials/footer.ejs') %>

    </body>

</html>