<!DOCTYPE html>
<html lang="en">

<!-------------------- HEAD --------------------->
<%- include('./partials/head') %>

  <!-------------------- BODY --------------------->

  <body>
    <!-------------------- HEADER --------------------->
    <%- include('./partials/header') %>

      <!-------------------- MAIN --------------------->
      <main>
        <!-------------------- CONTENEDOR GRIS--------------------->
        <div class="container" class="text-align: center">
          <div class=" jumbotron" style="padding:70px ;">
            <h1>Terminos y Condiciones</h1>
            <P style="margin-top: 20px;text-align: center">Condiciones generales de utilizacion de nuestros servicios
            </P>
          </div>
        </div>

        <!-------------------- TITULO DE BIENVENIDA --------------------->
        <div class="container">
          <h2>¡Bienvenidos a Mundo Mascotas DH!</h2>
          <br>
          <!-------------------- MJS DE BIENVENIDA --------------------->
          <p>Bienvenido a mundomascota_dh.com (“el Sitio”) de Mundo Mascota DH S.A (“mundomascota_dh.com”). CUIT:
            30-59213874-9. A continuación se incluyen las condiciones generales de utilización de los servicios
            ofrecidos en el Sitio (“las Condiciones de Uso”) que regirán los derechos y obligaciones de los Usuarios
            (“el/los Usuario/s”)
            Cualquier persona que desee acceder y/o usar el Sitio o los servicios podrá hacerlo sujetándose a los
            Términos y Condiciones Generales, junto con todas las demás políticas y principios que rigen
            mundomascota_dh.com y que son incorporados al presente por referencia. En consecuencia, todas las visitas y
            cada uno de los contratos y transacciones que se realicen en este Sitio, como asimismo sus efectos
            jurídicos, quedarán regidos por estas reglas y sometidas a la legislación aplicable en la República
            Argentina.
            Los términos y condiciones contenidos en este instrumento se aplicarán y se entenderán como formando parte
            de cada uno de los actos y contratos que se ejecuten o celebren mediante los sistemas de oferta y
            comercialización comprendidos en este Sitio entre los Usuarios y mundomascota_dh.com.
            En forma previa a cada contratación, el Usuario deberá leer, entender y aceptar todas las condiciones
            establecidas en los Términos y Condiciones Generales y en las Políticas de mundomascota_dh.com.
            <br>
            <br>
            Si Ud. utiliza este Sitio significa que ha aceptado plenamente las condiciones establecidas en los Términos
            y Condiciones Generales y en las Políticas de mundomascota_dh.com. En consecuencia, los Usuarios se obligan
            a cumplir expresamente con las mismas.
            Las Condiciones de Uso, así como sus modificaciones son vigentes en forma inmediata a su publicación en el
            presente Sitio de Internet. La utilización del Sitio implica aceptación de los Términos y Condiciones por
            parte del Usuario, los cuales tienen carácter obligatorio y vinculante. En caso de no aceptar algún cambio o
            modificación en las Condiciones de Uso, deberá cesar inmediatamente en la utilización del Sitio y/o los
            Servicios.
          </p>
          <br>
          <br>
          <!-------------------- DESPLEGABLE CON CONDICIONES DETALLADA --------------------->

          <!-------------------- 1 --------------------->
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Usuarios que pueden utilizar los servicios del Sitio</strong></a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>
                    El público en general está invitado a recorrer las páginas del Sitio que en cierta medida son
                    accesibles a los usuarios no registrados. El solo hecho de acceder a este Sitio implica una
                    manifestación de conformidad con el cumplimiento de las presentes Condiciones de Uso en su parte
                    aplicable. Todos los Usuarios que consientan en obligarse según estas Condiciones de Uso y que
                    además cumplan exitosamente con el proceso de registro y reciban un mail de confirmación del Sitio,
                    estarán asimismo autorizados para realizar pedidos y recibir mercadería en sus domicilios, todo ello
                    conforme los presentes Términos y Condiciones. A estos Usuarios se los denomina de aquí en adelante
                    “Usuarios Registrados”. La aceptación de las solicitudes de registro es una decisión exclusiva de
                    mundomascota_dh.com, quien en cualquier momento podrá decidir la cancelación de un registro de
                    Usuario del Sitio sin expresar motivos.
                  </p>
                  <br>
                  <p>
                    Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. En la
                    República Argentina tal capacidad se adquiere a los 18 años de edad. La responsabilidad derivada por
                    los servicios a los que acceden quienes no hubieren alcanzado la mayoría de edad, corresponderá a
                    los mayores a cuyo cargo se encuentren. No podrán utilizar los servicios las personas que no tengan
                    esa capacidad, los menores de edad o Usuarios de mundomascota_dh.com que hayan sido suspendidos
                    temporalmente o inhabilitados definitivamente. En caso de actuar en representación de una persona
                    jurídica (empresa) el Usuario debe contar con capacidad para contratar a nombre de tal entidad y de
                    obligar a la misma en los términos de este documento. Si el Usuario no contare con tales facultades,
                    o actuare en exceso de las mismas, se entenderá que se ha comprometido también a título personal.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 2 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Registración</strong></a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Toda la información proporcionada al momento de registrarse como Usuario, invitado o en cualquier
                    otro acto que el procedimiento en línea del Sitio requiera, debe ser precisa y veraz. Proporcionar
                    información inexacta o falsa constituye una violación de estos Términos y Condiciones.
                  </p>
                  <br>
                  <p>
                    Es obligatorio completar todos los campos del formulario de registración con datos válidos para la
                    adquisición de productos y servicios ofrecidos en este Sitio. El futuro Usuario Registrado deberá
                    completarlo con su información personal de manera exacta, precisa y verdadera ("Datos Personales") y
                    asume el compromiso de actualizar los mismos conforme resulte necesario. mundomascota_dh.com podrá
                    utilizar diversos medios para identificar a sus Usuarios, pero mundomascota_dh.com NO se
                    responsabiliza por la certeza de los Datos Personales provistos por sus Usuarios. Los Usuarios
                    garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de
                    los Datos Personales ingresados.
                  </p>
                  <br>
                  <p>
                    mundomascota_dh.com se reserva el derecho de solicitar algún comprobante y/o dato adicional a
                    efectos de corroborar los Datos Personales, así como de suspender temporal o definitivamente a
                    aquellos Usuarios cuyos datos no hayan podido ser confirmados. En estos casos de inhabilitación, se
                    dará de baja la compra efectuada, sin que ello genere algún derecho a resarcimiento.
                  </p>
                  <br>
                  <p>
                    El Usuario dispondrá, una vez registrado, de un nombre y contraseña o clave definitiva que le
                    permitirá el acceso personalizado, confidencial y seguro. El Usuario tendrá la posibilidad de
                    cambiar la clave de acceso, para lo cual deberá sujetarse al procedimiento establecido en el sitio
                    respectivo. Si por algún motivo no recuerda la clave elegida, puede recuperarla ingresando a la
                    sección Registro en la opción ¿olvidaste tu clave? donde deberá ingresar la dirección de correo
                    electrónico y a la brevedad recibirá un email para ingresar una nueva clave.
                  </p>
                  <br>
                  <p>
                    El Usuario se obliga a mantener la confidencialidad de su clave de acceso, asumiendo totalmente la
                    responsabilidad por el mantenimiento de su clave secreta registrada en este Sitio, la cual le
                    permite efectuar compras, solicitar servicios y obtener información. Dicha clave es de uso personal
                    y su entrega a terceros no involucra responsabilidad de mundomascota_dh.com en caso de mala
                    utilización.
                  </p>
                  <br>
                  <p>
                    El Usuario se obliga a mantener la confidencialidad de su clave de acceso, asumiendo totalmente la
                    responsabilidad por el mantenimiento de su clave secreta registrada en este Sitio, la cual le
                    permite efectuar compras, solicitar servicios y obtener información. Dicha clave es de uso personal
                    y su entrega a terceros no involucra responsabilidad de mundomascota_dh.com en caso de mala
                    utilización.
                  </p>
                  <br>
                  <p>
                    El Usuario se obliga a mantener la confidencialidad de su clave de acceso, asumiendo totalmente la
                    responsabilidad por el mantenimiento de su clave secreta registrada en este Sitio, la cual le
                    permite efectuar compras, solicitar servicios y obtener información. Dicha clave es de uso personal
                    y su entrega a terceros no involucra responsabilidad de mundomascota_dh.com en caso de mala
                    utilización.
                  </p>


                </div>
              </div>
            </div>
            <!-------------------- 3 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Referencias a terceros</strong></a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Las referencias en el Sitio a nombres, marcas, productos o servicios de terceros, o vínculos de
                    hipertexto a sitios de Internet o información de terceros se proveen únicamente como una comodidad
                    para nuestros usuarios y de ninguna forma constituyen o implican respaldo, patrocinio o
                    recomendación por Farmacity.com respecto de la tercera parte, su información, productos o servicios.
                    mundomascota_dh.com no es responsable de las prácticas o políticas de esos terceros, ni del
                    contenido de los sitios de Internet de estos y no hace ninguna declaración o promesa con respecto a
                    productos o servicios de terceros, o respecto del contenido o la exactitud de cualquier material
                    alojado en dichos sitios de terceros. Si el usuario decide navegar o seguir un vínculo hacia
                    cualquiera de tales sitios de Internet, lo hace enteramente bajo su propio riesgo y responsabilidad.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 4 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Orden de compra correspondiente a cada pedido</strong></a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    El Usuario podrá navegar por las Categorías y cliquear los productos que se encuentra exhibidos en
                    el Sitio, arrastrarlos hasta el carrito e indicar respecto de cada ítem la cantidad que desea
                    comprar.

                  </p>
                  <br>
                  <p>
                    El procedimiento del Sitio le da la opción de añadir o quitar ítems del pedido, de anularla por
                    completo y de revisarla. Pueden existir mínimos o máximos en la cantidad, volumen o precio de los
                    ítems incluidos en una orden de compra, que el sistema le advertirá debidamente. La disponibilidad
                    de los productos ofrecidos en mundomascota_dh.com está sujeta al movimiento diario de stock del
                    Centro de Distribución donde se prepara el pedido realizado por el Usuario. Por lo tanto, el
                    producto seleccionado puede no encontrarse en stock al momento de llegar la solicitud
                    correspondiente.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 5 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Perfeccionamiento de los contratos celebrados a través del Sitio</strong></a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    A través de este Sitio mundomascota_dh.com realizará oferta de productos, que podrán ser aceptadas
                    por vía electrónica o telefónica, utilizando los mecanismos que el mismo Sitio ofrece para ello.
                    Toda aceptación de oferta quedará sujeta a la condición suspensiva de que la empresa oferente valide
                    la transacción. En consecuencia, para toda operación que se efectúe en este Sitio la confirmación,
                    validación o verificación por parte de la empresa oferente será requisito para la aceptación de
                    esta. Para validar la transacción la empresa oferente deberá verificar: a) Que dispone en el momento
                    de la aceptación de oferta de los productos en stock. b) Que valida y acepta el medio de pago
                    seleccionado por el Usuario. c) Que los datos registrados por el Usuario en el sitio coinciden con
                    los proporcionados al efectuar su aceptación de oferta. mundomascota_dh.com se reserva el derecho a
                    contactar al Usuario y requerir más información en caso de ser necesarias validaciones adicionales
                    antes de aceptar cualquier pedido.
                  </p>
                  <br>
                  <p>
                    Para informar al Usuario o consumidor acerca de la aceptación, la empresa oferente deberá enviar una
                    confirmación escrita a la misma dirección electrónica que haya registrado el Usuario o por cualquier
                    medio de comunicación que garantice el debido y oportuno conocimiento del consumidor. El contrato se
                    entenderá perfeccionado desde el momento en que se envía esta confirmación escrita al Usuario y en
                    el lugar en que fue expedida.
                  </p>
                  <br>
                  <p>
                    La aceptación efectuada por el Usuario es irrevocable salvo en circunstancias excepcionales que
                    pueden dar lugar a que algunos ítems de su pedido sean excluidos del mismo: limitaciones en las
                    cantidades disponibles para la compra; faltantes de mercadería en el momento de empaquetar su
                    pedido; problemas en nuestra cadena logística de distribución; falta de autorización a la operación
                    por parte de la entidad emisora o administradora de su tarjeta de crédito o débito; inexactitudes o
                    errores en el producto o información, entre otros. En ciertos casos, podremos hacer contacto con
                    usted para sugerirle un cambio de ítem agotado por otro del que tengamos existencias. Si se cancela
                    todo o parte del pedido o si se necesita información adicional para aceptarlo, nos pondremos en
                    contacto.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 6 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Medios de pago que se podrán utilizar en el Sitio</strong></a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">

                  <p>
                    Una vez revisados los productos seleccionados, el Usuario debe hacer click en “Ir a mi carrito” para
                    observar el listado de productos y el monto de su compra hasta ese momento. El Usuario podrá seguir
                    agregando otros productos o finalizar la compra haciendo click en “Quiero pagar” e “Iniciar Pago”.
                  </p>

                </div>
              </div>
            </div>
            <!-------------------- 7 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Forma de entrega</strong></a>
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">

                  <p>
                    Una vez que su pedido haya quedado confirmado y el importe de su factura aprobado, se procederá a
                    efectuar la entrega, salvo que existan inconvenientes excepcionales para la aceptación del pedido
                    por nuestra parte que en su caso le serán inmediatamente comunicados.
                  </p>
                  <br>

                  <p>
                    mundomascota_dh.com ofrece al Usuario dos formas de entrega: Envío a domicilio o Retiro en tienda.
                    Si el Usuario selecciona Envío a domicilio acepta el servicio de las empresas Andesmar, OCA, UNIR,
                    Urbano y TREGGO. El mismo tiene un costo que aparecerá claramente expresado y diferenciado en la
                    etapa final de la compra. Al confirmar su pedido y aprobar la factura, el Usuario manifiesta su
                    aceptación al costo del servicio de entrega a domicilio y al total de la correspondiente a la misma.
                  </p>
                  <br>

                  <p>
                    El Usuario contratará el servicio de Andesmar, OCA, UNIR, Urbano y TREGGO para que se presente en el
                    domicilio que haya registrado como lugar de entrega de sus pedidos. El plazo de entrega es el
                    indicado al momento de aceptación del pedido, que será entre los días hábiles informados al momento
                    de finalizar la transacción. Es posible que existan diferencias entre los montos indicados y los
                    costos de envío finales y/o se apliquen cargos extras no contemplados. Los costos estimativos
                    tomarán como referencia la dirección de destino ingresada por el Usuario. Por favor tenga presente
                    que las compras realizadas después de las 14 hs. comenzarán a ser procesadas a partir del día hábil
                    siguiente. En caso de que el Usuario al completar la compra indicare una dirección de entrega
                    distinta los cargos de envío podrán variar sustancialmente de acuerdo con el nuevo lugar de entrega.
                  </p>
                  <br>

                  <p>
                    En el acto de entrega el operador logístico le solicitará a la persona indicada en el formulario de
                    entregas DNI, LC, DU. La misma deberá ser mayor de 18 años y deberá verificar que la mercadería
                    entregada corresponde a los artículos incluidos en su pedido y en la factura enviada
                    electrónicamente. El usuario deberá firmar (firma, aclaración y DNI) el remito que el Operador
                    Logístico le presente.
                  </p>
                  <br>

                  <p>
                    La compra mínima online es de $1.000. Realizamos entregas en todo el país excepto Catamarca y Tierra
                    del Fuego.
                  </p>
                  <br>

                  <p>
                    Este monto puede ser sujeto de modificación y será informada la actualización al momento de efectuar
                    la transacción.
                  </p>
                  <br>

                  <p>
                    Asimismo, el Usuario puede conocer el estado de su cuenta ingresando y cliqueando en la solapa
                    revisión de pedido, ingresando en el <strong>formulario de contacto </strong> o llamando al
                    <strong>0810 123 4567</strong>.
                  </p>
                  <br>

                  <p>
                    Las entregas se realizan de Lunes a Viernes de 9 a 18 hs. en el interior del país, de Lunes a
                    Viernes de 9 a 20 hs. y los sábados de 8 a 13 hs. en CABA y GBA.
                  </p>
                  <br>

                  <p>
                    Los plazos estimados de entrega no son válidos para pedidos realizados durante promociones
                    especiales: Promociones Nocturnas, Hot Sales, Cyber-Monday, Navidad y Reyes, Día de la Madre, Día
                    del Niño y Día del Padre. No se realizarán entregas los días 1° de enero, Jueves y Viernes Santos,
                    1° de mayo, 25 de mayo, 9 de julio, 24, 25 y 31 de diciembre y demás días feriados y no laborables.
                  </p>
                  <br>

                  <p>
                    Si el Usuario selecciona Punto de retiro deberá elegir la sucursal en la cual va a retirar el
                    pedido. El plazo de entrega es el indicado al momento de aceptación del pedido, que será entre los
                    días hábiles informados al momento de finalizar la transacción. Deberá presentarse a retirar el
                    pedido una vez que haya recibido el correo electrónico indicándole que su pedido ya está listo para
                    retirar. El Usuario deberá presentarse con el número de pedido y la factura impresa o en su
                    dispositivo móvil para que le sea entregada su compra. En caso de no presentar dicha documentación
                    mundomascota_dh.com se reserva el derecho a no entregar el pedido. El usuario deberá firmar (firma,
                    aclaración y DNI) el remito que el correspondiente al pedido.
                  </p>
                  <br>

                </div>
              </div>
            </div>
            <!-------------------- 8 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Casos de imposibilidad de entrega</strong></a>
                </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Para el supuesto que no haya nadie en el domicilio indicado por el Usuario Andesmar, Urbano, OCA,
                    TREGGO o UNIR dejará una nota notificando que ha pasado por el domicilio. Si no hubiera una persona
                    que recibiera la mercadería se intentará nuevamente dentro de las 48 hs. hábiles siguientes. La
                    cantidad de visitas establecidas es de hasta dos intentos de entrega. Ante la imposibilidad de
                    entrega, el envío quedará en resguardo en la sucursal del operador logístico más próxima al
                    domicilio de entrega. El Usuario será debidamente notificado y podrá comunicarse para coordinar una
                    nueva entrega en el término de 4 días hábiles. Transcurridos estos plazos la mercadería retornará a
                    nuestro depósito. En el caso que el Usuario tenga interés en modificar el domicilio de entrega, se
                    puede efectuar, siempre y cuando, se encuentre dentro del área de cobertura definida por Mundo
                    Mascota DH para su venta en internet (todo el país excepto Catamarca y Tierra del Fuego). Para ello,
                    se deberá enviar la nueva dirección ingresando a nuestro <strong>formulario de contacto</strong> o
                    llamando al <strong>0810 123 4567</strong> . Como se trata de una gestión especial,
                    mundomascota_dh.com no podrá garantizar que el cambio se haga efectivo y será a cargo del Usuario.
                    En el caso en que por dificultades imprevistas no sea posible cumplir con la entrega a domicilio en
                    el día y dentro del horario que hayamos comunicado al Usuario como período de entrega, trataremos de
                    avisarle lo más prontamente posible y entregaremos la mercadería en el domicilio del Usuario en un
                    nuevo día y horario a convenir, sin que se devengue por ello ningún cargo adicional.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 9 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse9"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Promociones</strong></a>
                </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Los códigos promocionales son códigos que al validarse generan un descuento. Si el Usuario tiene un
                    código promocional deberá introducirlo antes de proceder a Finalizar la Compra ingresándolo en el
                    Carrito en la parte izquierda de la pantalla. El descuento se aplicará sobre el importe que
                    corresponda. Para consultas sobre el uso del código promocional deberá ingresar a nuestro
                    <strong>formulario de contacto</strong> indicando en el asunto "Consulta Códigos Promocionales" o
                    llamando al <strong>0810 123 4567</strong>, Opción 2.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 10 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse10"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Plazo de validez de la oferta y precio</strong></a>
                </h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    El plazo de validez de la oferta es aquel que coincide con la fecha de vigencia indicada en la
                    promoción o en virtud del agotamiento de las cantidades de productos disponibles para esa promoción
                    debidamente informados al Usuario
                    <br>
                    Los precios de los productos y servicios disponibles en el Sitio, mientras aparezcan en él, solo
                    tendrán vigencia y aplicación en éste y no serán necesariamente aplicables a otros canales de venta
                    utilizados por las empresas, tales como puntos de venta en centros comerciales y vía pública,
                    resellers, distribuidores, catálogos u otros. mundomascota_dh.com podrá modificar cualquier
                    información contenida en este Sitio, incluyendo la relacionada con los productos, servicios,
                    precios, existencias y condiciones, en cualquier momento y sin previo aviso, hasta el momento de
                    recibir una solicitud de compra. Los precios publicados corresponden a precios minoristas para el
                    consumidor final, e incluyen el Impuesto al Valor Agregado (I.V.A). No incluye los gastos de envío,
                    ni los costos financieros o comisiones que pudieren agregarse al precio debido al medio de pago
                    seleccionado por el Usuario.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 11 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse11"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Cambios, Devoluciones y Cancelación de pedidos</strong></a>
                </h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong></strong>
                  <p> a) Se considera cambio a una solicitud de reemplazo de la mercadería que no estuviere motivada por
                    fallas o defectos de fabricación, clasificación, empaque, o por falta de identidad entre lo
                    adquirido y lo recibido. El Usuario dispondrá de un plazo máximo de treinta (30) días para efectuar
                    el cambio de la mercadería adquirida. Este plazo comenzará a computarse desde el momento de la
                    entrega al destinatario final. Para efectuar un cambio la mercadería deberá encontrarse en perfectas
                    condiciones. No deberá haber sido usada, lavada, planchada o tratada con ningún producto de
                    limpieza, tintura, o similares. Deberá conservar todas sus insignias y etiquetas identificadoras
                    colocadas sin que presenten signos de rotura o destrucción. En igual sentido, deberá conservarse en
                    condiciones razonables el envoltorio y empaque en el que la mercadería fue entregada. Cabe resaltar,
                    que para efectuar el cambio el Usuario deberá también mantener su embalaje original en perfectas
                    condiciones.
                    <br>
                    <br>
                    Para efectuar el cambio de una compra el Usuario deberá acercarse a la sucursal más cercana con
                    el/los productos, el número de pedido y la factura impresa o en su dispositivo móvil. En caso de ser
                    una compra con envío a domicilio, deberá comunicarse con el Centro de Atención al Cliente al
                    <strong>0810 123 4567</strong> de lunes a viernes de 9.00 a 20.00 hs y sábados de 9.00 a 15.00 hs, o
                    ingresando a nuestro <strong>formulario de contacto</strong> indicando el motivo del cambio. El
                    costo de envío de la nueva mercadería hacia el destinatario será a cargo de mundomascota_dh.com,
                    siempre que el mismo sea solicitado dentro de los 30 días de recibida por el destinatario final. Una
                    vez que el Usuario nos contacte se le indicará como debe proceder para realizar el cambio.
                    <br>
                    <br>
                    Mundomascota_dh.com se reserva el derecho de rechazar la solicitud de este si el producto no se
                    encuentra en las condiciones anteriormente mencionadas.
                    <br>
                    <br>
                    b) Se considera una devolución a la solicitud de reemplazo de la mercadería motivada por fallas o
                    defectos de fabricación, clasificación, empaque, transporte, o por falta de identidad entre lo
                    adquirido y lo recibido. El Usuario dispondrá de un plazo máximo de diez (10) días para efectuar la
                    devolución de la mercadería adquirida. Este plazo comenzará a computarse desde el momento de la
                    entrega al destinatario final Para efectuar una devolución, la mercadería, más allá de los defectos
                    de fabricación que pueda presentar, deberá encontrarse en las condiciones en que fue entregada y no
                    deberá haber sido usada, ni abierta. Deberá conservar todas sus insignias y etiquetas
                    identificadoras colocadas, sin que presenten signos de rotura o destrucción. En igual sentido,
                    deberá conservarse en condiciones razonables el envoltorio y empaque en el que la mercadería fue
                    entregada.
                    <br>
                    <br>
                    Para efectuar la devolución de una compra el Usuario deberá acercarse a la sucursal más cercana con
                    el/los productos, el número de pedido y la factura impresa o en su dispositivo móvil. En caso de ser
                    una compra con envío a domicilio, deberá comunicarse con el Centro de Atención al Cliente al
                    <strong>0810 123 4567</strong> de lunes a viernes de 9.00 a 20.00 hs y sábados de 9.00 a 15.00 hs, o
                    ingresando a nuestro <strong>formulario de contacto</strong> indicando el motivo del cambio. El
                    costo de envío de la nueva mercadería hacia el destinatario será a cargo de Farmacity.com, siempre
                    que el mismo sea solicitado dentro de los 30 días de recibida por el destinatario final. Una vez que
                    el Usuario nos contacte se le indicará como debe proceder para realizar el cambio.
                    <br>
                    <br>
                    Mundomascota_dh.com se reserva el derecho de rechazar la solicitud de este si el producto no se
                    encuentra en las condiciones anteriormente mencionadas.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 12 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse12"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Garantía</strong></a>
                </h4>
              </div>
              <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Los productos se hallan garantizados en forma limitada por defectos de diseño y fabricación. La
                    garantía no se extiende por daños o deterioros que fueren producidos por el uso o tratamiento
                    inapropiado de los artículos conforme su destino.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 13 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse13"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Protección de los datos personales registrados en el Sitio.</strong></a>
                </h4>
              </div>
              <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    En cumplimiento del artículo 6° de la ley Nº 25.326 (Ley de Protección de Datos Personales) el
                    titular de los datos toma conocimiento que los datos facilitados en el Sitio son necesarios para
                    establecer la relación contractual, y tendrán como finalidad validar las órdenes de compra y mejorar
                    la labor de información y comercialización de los productos y servicios prestados por
                    mundomascota_dh.com. Sólo podrán ser entregados a las empresas filiales o relacionadas con
                    mundomascota_dh.com, en ningún caso serán traspasados a terceros ajenos a la operatoria. Toda la
                    información que el Usuario proporciona se considerará verdadera, exacta y completa. El titular de
                    los datos es único y exclusivo responsable de la información que brinda. En tal sentido, será único
                    y exclusivo responsable respecto de las consecuencias que genere cualquier inexactitud o falsedad de
                    la información brindada.
                  </p>
                  <br>

                  <p>
                    El titular de los datos personales tiene la facultad de ejercer el derecho de acceso (rectificar,
                    actualizar y/o suprimir) a los mismos en forma gratuita a intervalos no inferiores a seis meses,
                    salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14,
                    inciso 3 de la Ley N° 25.326. La DIRECCIÓN NACIONAL DE PROTECCIÓN DE DATOS PERSONALES, Órgano de
                    Control de la Ley N° 25.326, tiene la atribución de atender las denuncias y reclamos que se
                    interpongan en relación con el incumplimiento de las normas sobre protección de datos personales.
                  </p>
                  <br>

                  <p>
                    El titular de los datos personales tiene la facultad de ejercer el derecho de acceso (rectificar,
                    actualizar y/o suprimir) a los mismos en forma gratuita a intervalos no inferiores a seis meses,
                    salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14,
                    inciso 3 de la Ley N° 25.326. La DIRECCIÓN NACIONAL DE PROTECCIÓN DE DATOS PERSONALES, Órgano de
                    Control de la Ley N° 25.326, tiene la atribución de atender las denuncias y reclamos que se
                    interpongan en relación con el incumplimiento de las normas sobre protección de datos personales.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 14 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse14"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Varios</strong></a>
                </h4>
              </div>
              <div id="collapse14" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>Violaciones del Sistema o Bases de Datos</strong>
                  <p>
                    En cumplimiento del artículo 6° de la ley Nº 25.326 (Ley de Protección de Datos Personales) el
                    titular de los datos toma conocimiento que los datos facilitados en el Sitio son necesarios para
                    establecer la relación contractual, y tendrán como finalidad validar las órdenes de compra y mejorar
                    la labor de información y comercialización de los productos y servicios prestados por
                    mundomascota_dh.com. Sólo podrán ser entregados a las empresas filiales o relacionadas con
                    mundomascota_dh.com, en ningún caso serán traspasados a terceros ajenos a la operatoria. Toda la
                    información que el Usuario proporciona se considerará verdadera, exacta y completa. El titular de
                    los datos es único y exclusivo responsable de la información que brinda. En tal sentido, será único
                    y exclusivo responsable respecto de las consecuencias que genere cualquier inexactitud o falsedad de
                    la información brindada.
                  </p>
                  <br>
                  <strong>Propiedad Intelectual</strong>
                  <p>
                    Los contenidos de las páginas web relativas a los servicios de mundomascota_dh.com como así también
                    la información, marcas, nombres comerciales, designaciones, datos, textos gráficos, imágenes,
                    fotografías, audio y video clips, logotipos, iconos, programas, bases de datos, redes, archivos que
                    permiten al Usuario acceder y usar su Cuenta son de propiedad de Farmacity.com y están protegidas
                    por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y
                    diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan
                    prohibidos, salvo autorización expresa y por escrito de mundomascota_dh.com.
                  </p>
                  <br>
                  <strong>Enlaces o hipervínculos hacia Mundomascota_dh.com</strong>
                  <p>
                    Los contenidos de las páginas web relativas a los servicios de Farmacity.com como así también la
                    información, marcas, nombres comerciales, designaciones, datos, textos gráficos, imágenes,
                    fotografías, audio y video clips, logotipos, iconos, programas, bases de datos, redes, archivos que
                    permiten al Usuario acceder y usar su Cuenta son de propiedad de mundomascota_dh.com y están
                    protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes,
                    modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos
                    contenidos quedan prohibidos, salvo autorización expresa y por escrito de mundomascota_dh.com.
                  </p>
                  <br>
                  <strong>Enlaces o hipervínculos desde Mundomascota_dh.com</strong>
                  <p>
                    Los hipervínculos o enlaces existentes en el Sitio mundomascota_dh.com que conectan con páginas web
                    de terceros tienen por finalidad mejorar la experiencia de navegación del usuario por el Sitio,
                    poniendo a su disposición herramientas, contenidos y servicios prestados por terceros ajenos a
                    mundomascota_dh.com. Sin perjuicio de ello mundomascota_dh.com no controla, no respalda, ni
                    garantiza la seguridad, calidad, licitud, veracidad e idoneidad de los servicios y contenidos
                    ofrecidos o brindados por terceros en el Sitio o a través del mismo cuando estos se encuentren fuera
                    del Sitio. En ese orden no responderá por los daños que pudieren experimentar los Usuarios que
                    adquirieren productos o utilizaren servicios de terceros. El acceso y utilización de páginas web
                    enlazadas desde el sitio mundomascota_dh.com será exclusiva responsabilidad del Usuario, quien
                    deberá tomar todas las medidas de precaución necesarias de acuerdo con el tipo de servicio,
                    contenido al que acceda, o producto que adquiera.
                  </p>
                  <br>
                  <strong>Sanciones. Suspensión de operaciones</strong>
                  <p>
                    Sin perjuicio de otras medidas mundomascota_dh.com advertirá, suspenderá temporal o inhabilitará
                    definitivamente la Cuenta de un Usuario Registrado o una publicación e iniciará las acciones que
                    estime pertinentes, y no le prestará sus Servicios si (a) se quebrantara alguna norma jurídica o
                    ley, o cualquiera de las estipulaciones de los Términos y Condiciones Generales y demás políticas de
                    mundomascota_dh.com o cualquiera de las empresas vinculadas a Mundo Mascota DH S.A; (b) si
                    incumpliera sus compromisos como Usuario; (c) si se incurriera a criterio de mundomascota_dh.com en
                    conductas o actos dolosos o fraudulentos; (d) si no pudiera verificarse la identidad del Usuario o
                    cualquier información proporcionada por el mismo fuere errónea. En el caso de la suspensión o
                    inhabilitación de un Usuario toda la información referida a su perfil, así como su historial,
                    registros, búsquedas almacenadas y todos los artículos que hubiera adquirido y las ofertas
                    realizadas serán removidos del sistema sin lugar a reclamo alguno a favor del Usuario.
                  </p>

                  <br>
                  <strong>Operatividad del Sitio. Fallas en el sistema</strong>

                  <p>
                    Mundomascota_dh.com realiza sus mejores esfuerzos por mantener y mejorar la calidad de sus
                    servicios, sin embargo, no garantiza el acceso y uso continuado e ininterrumpido de su Sitio.

                  </p>
                  <br>

                  <p>
                    Mundomascota_dh.com se reserva el derecho de interrumpir, suspender o modificar en cualquier momento
                    los servicios ofrecidos en el presente Sitio, ya sea en forma permanente o transitoria, sin requerir
                    conformidad por parte de los Usuarios ni necesidad de brindar aviso previo alguno
                  </p>
                  <br>

                  <p>
                    El sistema puede eventualmente no estar disponible debido a dificultades técnicas, fallas de
                    conectividad o por cualquier otra circunstancia ajena a mundomascota_dh.com; en tales casos se
                    procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo
                    de responsabilidad.
                  </p>
                  <br>

                  <p>
                    Mundomascota_dh.com no garantiza la exactitud de la información y datos incluidos en el Sitio, por
                    lo que no será responsable por ningún error u omisión contenidos en su sitio web. Tampoco garantiza
                    la inexistencia de eventuales dificultades técnicas o fallas en los sistemas o en Internet y que el
                    Sitio se encuentre libre de virus, gusanos o cualquier otro elemento que pueda llegar a dañar o
                    alterar el normal funcionamiento de un ordenador. Es responsabilidad y obligación exclusiva del
                    Usuario contar con los antivirus y herramientas adecuadas para detectar, desinfectar y/o prevenir
                    cualquier tipo de elementos y/o posibles daños de esta naturaleza.
                  </p>
                  <br>

                  <p>
                    Mundomascota_dh.com no se responsabiliza por ningún daño que pueda producirse en los equipos
                    informáticos de los Usuarios o de terceros como consecuencia de la navegación del presente Sitio, ni
                    por daños y/o perjuicios directos ni indirectos, ni mediatos ni inmediatos, que pudieran
                    eventualmente ser ocasionados por tales causales.
                  </p>
                  <br>
                  <strong>Tarifas. Facturación</strong>
                  <p>
                    La registración en Mundomascota_dh.com es gratuita. Sin perjuicio de ello, se reserva el derecho de
                    modificar, cambiar, agregar, o eliminar las condiciones de acceso en cualquier momento pudiendo
                    fijar tarifas para la registración de los Usuarios o para el acceso a determinados servicios, lo
                    cual será publicado en el Sitio. Al adquirir un producto, el Usuario deberá pagar el precio
                    publicado y los gastos de envío y entrega que serán contratados en forma independiente. El Usuario
                    presta conformidad para recibir la factura electrónica en la dirección de mail registrada. La
                    factura a emitiida será la de consumidor final (Comprobante Tipo “B”).
                  </p>
                  <br>
                  <p>
                    Asimismo, Mundomascota_dh.com podrá modificar temporal o definitivamente la política de tarifas y/o
                    los precios por sus productos o servicios con motivo de promociones, siendo efectivas estas
                    modificaciones una vez publicadas en el Sitio conservando vigencia hasta la fecha de su finalización
                    o modificación, según aquello que ocurra primero.
                  </p>
                  <br>
                  <p>
                    Mundomascota_dh.com se reserva el derecho de tomar las medidas judiciales y extrajudiciales que
                    estime pertinentes para obtener el pago del monto debido.
                  </p>
                  <br>
                  <p>
                    En caso de haberse facturado cargos que no hubiesen correspondido el Usuario deberá comunicarse con
                    el Centro de Atención al Cliente al <strong>0810 123 4567</strong> de lunes a viernes de 9.00 a
                    20.00 hs y sábados de 9.00 a 15.00 hs, o bien ingresar a nuestro <strong>formulario de
                      contacto</strong> para resolver dicha cuestión.
                  </p>
                  <br>
                  <strong>Modificaciones</strong>
                  <p>
                    Mundomascota_dh.com podrá introducir todos los cambios y modificaciones que estime convenientes
                    sobre estos Términos y Condiciones Generales, en cualquier momento y sin previo aviso, bastando la
                    sola publicación en el Sitio de los términos modificados lo cuales entrarán en vigor el día de su
                    publicación.
                  </p>
                  <br>
                  <strong>Información de contacto</strong>
                  <p>
                    Las notificaciones y comunicaciones enviadas por mundomascota_dh.com a la dirección postal o a la
                    casilla de correo electrónico consignada directamente por el Usuario en los formularios de registro
                    o aquella que surja como domicilio o dirección de correo del remitente en los casos que entable
                    comunicación un visitante no registrado, se considerarán eficaces y plenamente válidas. Asimismo, se
                    considerarán eficaces las comunicaciones que consistan en avisos y mensajes insertos en el Sitio o
                    que se envíen durante la prestación de un servicio que tengan por finalidad informar a los Usuarios
                    sobre determinada circunstancia.
                  </p>
                </div>
              </div>
            </div>
            <!-------------------- 15 --------------------->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse15"><i
                      class="fa fa-chevron-down"></i>
                    <strong>Jurisdicción. Ley Aplicable</strong></a>
                </h4>
              </div>
              <div id="collapse15" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Este acuerdo estará regido en todos sus puntos por las leyes y demás normas jurídicas vigentes en la
                    República Argentina.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </main>

      <!-------------------- FOOTER --------------------->
      <%- include ('./partials/footer.ejs') %>
  </body>

</html>