<footer class="container-block" >
    
    <div class="footer-segundo">
        <div class="row">
            <section class="col-xs-12 col-sm-6 col-md-3 ">
                <i class="fa-solid fa-people-group icono"></i>
                <p class="titulo">Institucional</p>
                <a href="../footer/empresa"><p class="subtitulo">Nuestra Empresa</p></a>
                
            </section>
            <section class="col-xs-12 col-sm-6 col-md-3 ">
                <i class="fa-solid fa-house icono"></i>
                <p class="titulo">Servicios</p>
                <a href="/products/todosLosProductos"><p class="subtitulo">Catalogo</p></a>
                <a href="/products/sucursales"><p class="subtitulo"> Sucursales</p></a>
                <a href="../footer/medioDePago"><p class="subtitulo">Medios de pago</p></a>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-3 ">
                <i class="fa-solid fa-hand-holding-hand icono"></i>
                <p class="titulo">Compra online</p>
                <!-- <p class="subtitulo">Mis pedidos</p> -->
                <a href="/products/productCart"><p class="subtitulo">Mi carrito</p></a>
                <a href="../footer/costoDeEnvio"><p class="subtitulo">Costos de envio</p></a>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-3 ">
                <i class="fa-solid fa-phone icono"></i>
                <p class="titulo">Atencion al cliente</p>
                <p class="subtitulo">Atencion Tel: 0810 -123 -4567</p>
                <a href="../footer/preguntas"><p class="subtitulo">Preguntas Frecuentes</p></a>
                <a href="../footer/terminos"><p class="subtitulo">Terminos y condiciones</p></a>
            </section>
        </div>
    </div>

    <div class="copyrigth">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-4" >
                <a href="/"><img src="/img/home/logo.jpg" alt="logo mundo mascota DH" class="logo-footer"></a>
                <img src="/img/home/data-fiscal.jpg" alt="data fiscal" style="width: 100px; height: 50px;">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 vertical-align-middle">
                <a href="./" class="social-media-icon"><i class='bx bxl-twitter'></i></a>
                <a href="./" class="social-media-icon"><i class='bx bxl-facebook'></i></a>
                <a href="./" class="social-media-icon"><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <h3 class="copyrigth-texto">Copyright © 2022 | Derechos reservados Mundo Mascota DH CUIT 30-59213874-9 - Av. Santa Fe 2609 - C.A.B.A.</h3>
                <!-- <h3 class="copyrigth-texto"> </h3> -->
                <a href="../footer/staff"><p class="subtitulo">Nuestro Staff</p></a>
            </div>
        </div>
    </div>
</footer>