<header>

    <div class="main-header">

        <a href="/"><img src="/img/products/logo.jpg" alt="logo mundo mascota DH" class="logo"></a> <br>
        <!-- NOMBRE -->
        <p style="margin-left: 60px ;font-family: 'Montserrat', sans-serif; color:  #ebebeb;">MUNDO MASCOTA DH</p>
        <!-- BUSCADOR DE PRODUCTOS -->
        <form action="/search" method="GET" class="search-form">
            <input type="text" id="busqueda" placeholder="     ¿Que estás buscando...?">
            <i class="fas fa-search lupa"></i>
        </form>



    </div>

    <div>

        <nav>

            <ul class="nav-bar">

                <li><a href="/products/todosLosProductos">Todos los productos</a> <i class="fas fa-paw iconito"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket iconito"></i></li>
                <li><a href="/products/sucursales">Sucursales</a> <i class="fa-solid fa-location-dot iconito"></i></li>
                <li><a href="/user/login">Ingresar</a> <i class="fas fa-user iconito"></i> </li>
                <li><a href="/user/register">Registrate</a> <i class="fa-solid fa-address-card iconito"></i></li>
                <li> <a href="/products/productCart">Carrito <i class="fa-solid fa-cart-shopping iconito"></i></a></li>
                <li> <a href="/admin">Administrar <i class="fa-solid fa-gear iconito"></i></a></li>

            </ul>
        </nav>
    </div>

    <div class="burger-menu">
        <i class="fas fa-bars menu"></i>
    </div>
</header>