<section
    style="margin-top:50px; text-align: center; background-image: url(/public/img/home/footer_subscribe.jpg); background-repeat: repeat; ">

    <div>

        <p style="text-align: center; 
    font-weight: 600;   
    margin-top: 45px; 
    margin-bottom: 25px; 
    font-family: Gotham,sans-serif; 
    font-size: 20px">

            <i class="far fa-envelope iconito"></i> ¡No te pierdas nuestras mejores ofertas solo para vos!

        </p>

        <form class="navbar-form navbar-left" action="/" style="width: 100%; ">
            <div class="form-group">
                <input type="text" class="" placeholder="Ingresa tu email" name="search"
                    style="height: 50px; width: 100%; text-align: center">
                    
            </div>
            <!-- <a href="#" class="btn btn-primary btn-lg active" role="button">¡Suscribite!</a> -->
            <!-- <h2>Newsletter</h2> -->
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">¡Suscribite!</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Newsletter</h3>
        </div>
        <div class="modal-body">
          <p>Tu suscripcion fue con exito. En tu casilla de email recibiras todos los descuentos, avisos importantes y actualizaciones de nuestro sitio.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
            
        </form>
    </div>

    
  
</div>

</section>