<div>
    <div class="container" class="text-align: center">
        <div class=" jumbotron" style="padding:70px ;">
            <h1>Contactanos</h1>
        </div>
    <h3>Estamos para ayudarte, dejanos tu consulta.</h3>
</div>