<!DOCTYPE html>
<html lang="en">
<!--------------------- HEAD ----------------->
<%- include('../partials/head') %>
    
    <!--------------------- BODY ----------------->
    <body>
        <!--------------------- HEADER ----------------->
        <%- include('../partials/header') %>

            <!-------------------- MAIN --------------------->
            <main>
               
              <div>
                Ok, ingresaste
              </div> 
              
            </main>

             <!-------------------- FOOTER --------------------->
            <%- include ('../partials/footer.ejs') %>
    </body>

</html>