<!DOCTYPE html>
<html lang="en">
<!--------------------- HEAD ----------------->
<%- include('../partials/head') %>
    
    <!--------------------- BODY ----------------->
    <body>
        <!--------------------- HEADER ----------------->
        <%- include('../partials/header') %>

            <!-------------------- MAIN --------------------->
            <main>
              <div class="container" class="text-align: center">
                <div class=" jumbotron" style="padding:70px ;">
                    <h1>Bienvenido a tu perfil</h1>
                </div>
                <div>
                  Ok, ingresaste
                </div>
              </div>
              <!-- PERFIL -->
             
              
            </main>

             <!-------------------- FOOTER --------------------->
            <%- include ('../partials/footer.ejs') %>
    </body>

</html>