<div>
    <div class="container" class="text-align: center">
        <div class=" jumbotron" style="padding:70px ;">
            <h1>Arrepentimiento de compra</h1>
        </div>
        <h3>Completá los siguientes campos para cancelar tu pedido.</h3>
</div>